$color-background:#161138;
$color-background-light: #2d294c;
$color-background-lighter: #464261;
$color-text-primary:#fff;
$color-text-secondary: #16183f;
// TODO: find a suitable variable name for the color below.
$color-tab: #005971;
$color-tab-light: #33bed2;
$color-tab-dark: #00abc5;
$color-success: #87c084;
$color-danger: #ff6060;
$color-warning:#ffdd00;